* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*Create account page*/
.page-desc {
  font-size: 40px;
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15% auto 0;
}
.create-confrim-buttons {
 display: flex;
 justify-content: center;
 align-items: center;
}
.create-button, .confrim-button {
  font-size: 25px;
  border-radius: 10px;
  text-decoration: none;
}
.create-button:hover, .confrim-button:hover {
  background: #aaa;
  color: #000;
  transition: 0.8s;
}
/*Transaction, deposit, withdraw and account-profile page*/
.header-component {
  background: #eee;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  width: auto;
}
.navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-icon {
  margin-right: 10px;
  font-size: 25px;
}
.account-nav {
  display: flex;
  justify-content: end;
}
.nav-buttons ul {
  list-style: none;
  display: flex;
  color: white;
}
.active {
  color: #a1a1a1;
}
.nav-buttons ul a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 22px;
  background: #ddd;
  padding: 5px;
  border-radius: 10px;
}
.balance-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 0 10px;
}
.nav-buttons ul a:hover,
.account-name:hover,
.account-icon:hover {
  color: orange;
  cursor: pointer;
  transition: 0.5s;
}
.page-desc-holder {
  margin: 20px;
}
/*Deposit page*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*account profile page*/
.create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.account-profile-link {
  text-decoration: none;
}
.transaction-table-body {
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}