* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.new-blog-form {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 5% auto;
  width: 0;
  height: auto;
  min-width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.form-title,
.form-user-id,
.form-body-title {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.form-title-container,
.user-id-container,
.body-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.form-body-title,
.input-blog-body {
  align-self: flex-start;
  margin-top: 20px;
}
.body-container {
  height: 250px;
}
.input-blog-title,
.post-author,
.input-blog-body {
  width: 300px;
  font-size: 20px;
  outline: none;
  padding: 5px;
  margin-right: 30px;
}
.input-blog-body {
  height: 200px;
  overflow-y: auto;
  resize: none;
}
.footer-container {
  height: 80px;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.submit-button:hover {
  background: #ccc;
  transition: 0.5s;
}
.submit-button {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px 20px;
  cursor: pointer;
}
